<h1>Landing</h1>
<div class="col-xs-6">
  <p><a href="/cars/">Car Info</a></p>
  <p>For Example</h1></p
  <p><%= @car.car_make %><p>
  <p><%= @car.car_model %><p>
  <p><%= @car.production_year %><p>
</div>
<div class="col-xs-6">
  <p><a href="/drivers/">Driver Info</a></p>
  <p>For Example</h1></p
  <p><%= @driver.first_name %><p>
  <p><%= @driver.last_name %><p>
  <p><%= @driver.email %><p>
</div>
